/* 
1. позиционирование
2. цвет
3. шрифт
4. анимирование */

/* потом удалить-фон */
.header,
.contact-form,
.contacts {
  background-color: rgb(218, 218, 218);
}
/* потом удалить-фон */

/* общие */
:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --main-text-color: #555555;
  --secondary-text-color: #ffffff;
  --accent-text: #ff6c00;
  --dark-text-color: #303030;
  --suptitle-text-color: rgba(157, 164, 189, 0.6);
  --middle-text-color: #9da4bd;
  --dash-dark: rgba(157, 164, 189, 0.6);

  --price-bgc: #111319;
  --masters-bgc: #f7f7f7;
  --contacts-bgc:#191C26;
}

body {
  font-family: var(--main-font);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.header-item:not(:last-child),
.hero-item-sns:not(:last-child),
.footer-item:not(:last-child) {
  margin-right: 40px;
}

.main-btn {
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 1px solid var(--accent-text);

  color: var(--secondary-text-color);
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-text);
  border: 1px solid var(--accent-text);
  border: 1px solid var(--accent-text);
}

.btn-send {
  color: var(--dark-text-color);
}

.btn-send:hover,
.btn-send:focus {
  color: var(--secondary-text-color);
}

.suptitle {
  display: flex;
  align-items: center;
 margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.suptitle-light {
  color: var(--suptitle-text-color);
}
.suptitle-dark {
   color: var(--dark-text-color);
}

.dash-light::before {
  display: inline-block;
  flex-shrink: 0;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: var(--dash-dark);
}

.dash-dark::before {
  display: inline-block;
  flex-shrink: 0;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
  
  background-color: var(--dark-text-color);
}

.dash-sns::before {
 display: inline-block;
  flex-shrink: 0;
  content: '';
  width: 60px;
  height: 1px;
    margin-right: 40px;
  
  background-color: var(--dark-text-color);
}
/* end общие */
/* =====================HEADER=========================*/
.header > .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
  padding: 32px 0;
}

.logo-icon {
  fill: var(--dark-text-color);
}

.header-list {
  display: flex;
}

.header-link {
  padding: 52px 0;

  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-tel {
  margin-left: auto;
  margin-right: 40px;
  padding: 52px 0;

  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-text);
}

/* ================= END HEADER=====================*/

/* ===================== HERO ===================== */
.hero {
  display: flex;

  background-image: url(../images/hero.svg);
  background-repeat: no-repeat;
  width: 1280px;
  margin: 0 auto;
  height: 680px;

  outline: 1px solid tomato;
}

.hero-left-size {
  width: 155px;
  outline: 1px solid tomato;
  background-color: var(--secondary-text-color);
}

.hero-list-sns {
  display: flex;
}

.hero-link {
  color: var(--dark-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.header-link:hover,
.header-link:focus,
.hero-link:hover,
.hero-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text);
}

.hero-right-size {
  width: 500px;

}

.hero-title {
  margin-bottom: 20px;

  color: var(--secondary-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-subtitle {
  color: var(--middle-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/*================= END HERO===================== */

/* ================= ABOUTUS===================== */
.about > .container {
  display: flex;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-box {
  width: 500px;
  margin-left: 64px;
}

.about-title {
  margin-bottom: 20px;

  color: var(--dark-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.about-subtitle {
  margin-bottom: 20px;

  color: var(--main-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.about-text {
  margin-bottom: 40px;

  color: var(--main-text-color);

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

/* ================= END ABOUTUS=====================*/

/* =====================PRICE======================== */
.price {
  background-color: var(--price-bgc);
  background-image: url(../images/price.svg);
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

.price-title {
  margin-bottom: 44px;

  color: var(--secondary-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.price-box {
  display: flex;

  margin-bottom: 50px;
}

.price-list-left {
  background-color: linear-gradient(
    (180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%),
      (180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%)
  );
}

.price-list-right {
  background-color: linear-gradient(
    (180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%),
      (180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%)
  );
}
.price-list-left,
.price-list-right {
  width: 585px;
  height: 240px;
  padding: 30px 40px;

  color: var(--middle-text-color);

  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.price-item-left:not(:last-child),
.price-item-right:not(:last-child) {
  margin-bottom: 20px;
}

.price-btn {
  text-align: center;
}
/* ================= END PRICE=====================*/

/* ================= ADVANTAGES===================== */
.advantages > .container {
  display: flex;
}

.advantages-left-box {
  margin-right: 130px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.advantages-item:nth-child(2n+1) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.number {
  width: 170px;
  height: 133px;
}
.advantages-number {
  color: var(--dark-text-color);

  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}

.advantages-text {
  color: var(--dark-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.advantages-title {
  margin-bottom: 20px;

  color: var(--dark-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.advantages-subtitle {
  color: var(--main-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/*  ==============END ADVANTAGES===================== */

/*  =================== MASTERS======================= */
.masters {
  background-color: var(--masters-bgc);
  max-width: 1280px;
  margin: 0 auto;
}

.masters-title {
  margin-bottom: 44px;

  color: var(--dark-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.masters-list {
  display: flex;
}

.masters-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.masters-item:nth-child(3n) {
  margin-right: 0;
}

.masters-box {
  padding-top: 30px;
}
.masters-name {
  margin-bottom: 8px;

  color: var(--dark-text-color);

  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}

.masters-job {
  margin-bottom: 30px;

  color: var(--accent-text);

  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}

.masters-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.masters-item-icon:not(:last-child) {
  margin-right: 10px;
}

.masters-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  fill: var(--dark-text-color);
  background-color: var(--secondary-text-color);
  border-radius: 50%;
}

.masters-link-icon:hover,
.masters-link-icon:focus {
  fill: var(--accent-text);
}

.masters-icon {
  width: 20px;
  height: 20px;
}
/* =================END MASTERS======================= */

/* ====================GALLERY===================== */
.gallery-subtitle {
  margin-bottom: 40px;

  color: var(--dark-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.gallery-list {
  display: flex;
}

.gallery-item {
  flex-basis: calc((100% -90px) / 4);
  margin-right: 30px;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}
/* =================END GALLERY===================== */

/* ===================CONTACTS FORM====================== */
.contacts-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  background-color: var(--contacts-bgc);
}

.contacts-form > .container {
  display: flex;
}
.contacts-form-title {
  color: var(--secondary-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.contact-btn {
  border: 1px solid var(--accent-text);

  color: var(--secondary-text-color);
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.contact-btn:focus,
.contact-btn:hover {
  background-color: var(--accent-text);
}
/* =================END CONTACTS FORM==================== */

/* ===================CONTACTS INFO===================== */
.contacts-title {
  margin-bottom: 40px;

  color: var(--secondary-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.address {
  margin-bottom: 70px;
}

.contacts-map,
.contacts-tel,
.contacts-mail,
.contacts-time {
  color: var(--middle-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-icon {
  width: 24px;
  height: 24px;
  fill: var(--middle-text-color);
}

.contacts-text {
  margin-bottom: 20px;
  
  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/* ================END CONTACTS INFO================ */

/* =================== FOOTER======================= */
.footer > .container {
  display: flex;
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-copyright {
  color: var(--middle-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.footer-list {
  display: flex;
  margin-left: auto;
}

.footer-link {
  color: var(--dark-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
/* ===================END FOOTER===================== */
