/* 
1. позиционирование
2. цвет
3. шрифт
4. анимирование */

/* ===================COMPONENTS======================== */
:root {
  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --main-text-color: #555555;
  --secondary-text-color: #ffffff;
  --accent-text: #ff6c00;
  --dark-text-color: #303030;
  --suptitle-text-color: rgba(157, 164, 189, 0.6);
  --middle-text-color: #9da4bd;
  --dash-dark: rgba(157, 164, 189, 0.6);

  --price-bgc: #111319;
  --masters-bgc: #f7f7f7;
  --contacts-bgc: #191c26;
}

body {
  font-family: var(--main-font);
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  margin-right: auto;
  margin-left: auto;
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.header-item:not(:last-child),
.hero-item-sns:not(:last-child),
.footer-item:not(:last-child) {
  margin-right: 40px;
}

.main-btn {
  padding: 12px 20px;
  min-width: 160px;

  border-radius: 25px;
  border: 1px solid var(--accent-text);

  color: var(--secondary-text-color);
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  transition: background-color 250ms linear;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-text);
  border: 1px solid var(--accent-text);
}

.btn-send {
  color: var(--dark-text-color);

  transition: color 250ms linear, background-color 250ms linear;
}

.btn-send:hover,
.btn-send:focus {
  color: var(--secondary-text-color);
}

.animate__zoomIn:hover,
.animate__zoomIn:focus {
  animation-duration: 4s;
}

.suptitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.suptitle-light {
  color: var(--suptitle-text-color);
}
.suptitle-dark {
  color: var(--dark-text-color);
}

.dash-light::before {
  display: inline-block;
  flex-shrink: 0;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: var(--dash-dark);
}

.dash-dark::before {
  display: inline-block;
  flex-shrink: 0;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;

  background-color: var(--dark-text-color);
}

.dash-sns::before {
  display: inline-block;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 40px;

  background-color: var(--dark-text-color);
}
/* ================END COMPONENTS====================== */

/* ======================MODAL WINDOW=================== */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transform: scale(1);
  transition: transform 400ms ease-out;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: scale(0);
  transition: transform 400ms ease-out;
}

.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;

  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 400ms ease-out;
}

.modal-box {
  margin: 40px;
}

.modal-text {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  position: relative;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-text-color);
}

.label-mb {
  margin-bottom: 10px;
}

.modal-input,
.modal-textarea {
  margin-top: 4px;
  padding-left: 42px;

  width: 100%;
  height: 40px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--accent-text);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-text);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;
  fill: var(--dark-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-mb {
  margin-bottom: 20px;
}

.modal-textarea {
  padding: 12px 16px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  width: 100%;
  height: 120px;
  resize: none;
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  align-items: center;

  margin-bottom: 30px;
}

.modal-agreement-icon {
  margin-right: 7px;

  border-radius: 2px;
  border: 2px solid var(--dark-text-color);
}

.modal-checkbox {
  cursor: pointer;
}

/* для оформления чекбокса-нужно инлайн свг */
/* transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 2500sms cubic-bezier(0.4, 0, 0.2, 1); */

.modal-checkbox:checked + .modal-agreement-icon {
  background-color: var(--accent-text);
  border-color: transparent;
  background-size: contain;
  background-origin: border-box;
}

.modal-checkbox:focus + .modal-agreement-icon {
  border-color: var(--accent-text);
}

/* .modal-checkbox:focus-visible + .modal-agreement::before {
  border-color: black;
} */

.modal-agreement {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);

  cursor: pointer;
}

.modal-agreement-link {
  color: var(--accent-text);
}

.modal-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn:hover,
.modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  padding: 0;

  background-color: transparent;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* .close-btn-icon {
  fill: var(--logo-text-color);
} */

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-text);
}
/* ======================END MODAL WINDOW=================== */
/* =====================HEADER=========================*/
.header {
  position: absolute;
  width: 100%;
}

.header > .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 71px;
  padding: 32px 0;
}

.logo-icon {
  fill: var(--dark-text-color);
}

.header-list {
  display: flex;
}

.header-link {
  padding: 52px 0;

  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  transition: color 250ms linear;
}

.header-tel {
  margin-left: auto;
  margin-right: 40px;
  padding: 52px 0;

  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  transition: color 250ms linear;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-text);
}

/* ================= END HEADER=====================*/

/* ===================== HERO ===================== */
.hero .container {
  display: flex;
}

.hero-left-size {
  display: flex;
  align-items: flex-end;
  width: 100px;
}

.hero-list-sns {
  display: flex;
  align-items: baseline;

  transform: rotate(-90deg);
  transform-origin: left top;
}

/* .hero-list-sns .hero-item-sns:before {
  content: '';
  transform-origin: left top;
} */

.hero-link {
  display: flex;
  padding-top: 27px;
  padding-bottom: 58px;

  color: var(--dark-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  transition: color 250ms linear;
}

.header-link:hover,
.header-link:focus,
.hero-link:hover,
.hero-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-text);
}

.hero-right-size {
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;

  background-color: var(--price-bgc);
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/hero.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-right-size-box {
  width: 500px;
  height: 202px;
}

.hero-title {
  margin-bottom: 20px;

  color: var(--secondary-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-subtitle {
  display: inline-block;
  color: var(--middle-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/*================= END HERO===================== */

/* ================= ABOUTUS===================== */
.about > .container {
  display: flex;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-box {
  width: 500px;
  margin-left: 64px;
}

.about-title {
  margin-bottom: 20px;

  color: var(--dark-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.about-subtitle {
  margin-bottom: 20px;

  color: var(--main-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.about-text {
  margin-bottom: 40px;

  color: var(--main-text-color);

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

/* ================= END ABOUTUS=====================*/

/* =====================PRICE======================== */
.price {
  background-color: var(--price-bgc);
  background-image: url(../images/price.png);
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

.price-title {
  margin-bottom: 44px;

  color: var(--secondary-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.price-box {
  display: flex;

  margin-bottom: 50px;
}

/* .price-list-left {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list-right {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
} */

.price-list-left:nth-child(2n + 1) {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list-right:nth-child(2n) {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-list-left,
.price-list-right {
  width: 585px;
  height: 240px;
  padding: 30px 40px;

  color: var(--middle-text-color);

  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.price-item-left,
.price-item-right {
  display: flex;
  justify-content: space-between;
}

.price-item-left:not(:last-child),
.price-item-right:not(:last-child) {
  margin-bottom: 20px;
}

/* .price-name:after {
  display: inline-block;
  content: '';
  width: 60px;
  height: 1px;
  margin-left: 40px;

  background-color: rgba(157, 164, 189, 0.12);
} */
.price-btn {
  text-align: center;
}
/* ================= END PRICE=====================*/

/* ================= ADVANTAGES===================== */
.advantages > .container {
  display: flex;
}

.advantages-left-box {
  margin-right: 130px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.advantages-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 133px;

  background-color: var(--masters-bgc);
}

.advantages-item:nth-child(2n + 1) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.number {
  width: 122px;
  height: 93px;
}
.advantages-number {
  color: var(--dark-text-color);

  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}

.advantages-text {
  color: var(--dark-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.advantages-title {
  margin-bottom: 20px;

  color: var(--dark-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.advantages-subtitle {
  color: var(--main-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/*  ==============END ADVANTAGES===================== */

/*  =================== MASTERS======================= */
.masters {
  background-color: var(--masters-bgc);
  max-width: 1280px;
  margin: 0 auto;
}

.masters-suptitle {
  margin-bottom: 44px;
}

.masters-title {
  margin-bottom: 44px;

  color: var(--dark-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.masters-list {
  display: flex;
}

.masters-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.masters-item:nth-child(3n) {
  margin-right: 0;
}

.masters-box {
  padding-top: 30px;
}
.masters-name {
  margin-bottom: 8px;

  color: var(--dark-text-color);

  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}

.masters-job {
  margin-bottom: 30px;

  color: var(--accent-text);

  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}

.masters-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.masters-item-icon:not(:last-child) {
  margin-right: 10px;
}

.masters-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  fill: var(--dark-text-color);
  background-color: var(--secondary-text-color);
  border-radius: 50%;

  transition: fill 250ms linear;
}

.masters-link-icon:hover,
.masters-link-icon:focus {
  fill: var(--accent-text);
}

.masters-icon {
  width: 20px;
  height: 20px;
}
/* =================END MASTERS======================= */

/* ====================GALLERY===================== */
.gallery-subtitle {
  margin-bottom: 40px;

  color: var(--dark-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.gallery-list {
  display: flex;
}

/* .gallery-item {
  flex-basis: calc((100% -90px) / 4);
  margin-right: 30px;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
} */

.gallery-item {
  margin-right: 30px;
}

.slick-next:before,
.slick-prev:before {
  color: var(--dash-dark);
  font-size: 30px;
  opacity: 1;
}

/* =================END GALLERY===================== */

/* ===================CONTACTS FORM====================== */
.contacts-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  background-color: var(--contacts-bgc);
}

.contacts-form > .container {
  display: flex;
}

/* .contacts-left-side {
  width: 625px;
  height: 644px;
} */

.contacts-form-title {
  margin-bottom: 44px;

  color: var(--secondary-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.contacts-form-box {
  display: flex;
}

.contacts-form-box-name,
.contacts-form-box-tel,
.contacts-form-box-massage {
  position: relative;
  display: flex;
  margin-bottom: 44px;

  display: flex;
  align-items: center;

  margin-bottom: 44px;
}

.contacts-form-box-name {
  margin-right: 30px;
}

.contacts-form-input-name {
  width: 270px;
}
.contacts-form-input-tel {
  width: 260px;
}

.contacts-form-input {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  background-color: transparent;

  cursor: pointer;
}

.contacts-form-input:hover + .contacts-form-label {
  color: var(--secondary-text-color);
}

.contacts-form-input:focus {
  color: var(--secondary-text-color);
}

.contacts-form-input:hover {
  border-bottom: 1px solid var(--secondary-text-color);
}

.contacts-form-label {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

.contacts-form-textarea {
  width: 560px;
  height: 76px;
  resize: none;
}

.contact-btn {
  border: 1px solid var(--accent-text);
  border-radius: 25px;
  padding: 12px 28px;

  color: var(--secondary-text-color);
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  transition: background-color 250ms linear;
}

.contact-btn:focus,
.contact-btn:hover {
  background-color: var(--accent-text);
}
/* =================END CONTACTS FORM==================== */

/* ===================CONTACTS INFO===================== */
.contacts-right-side {
  margin-left: auto;
  padding-left: 100px;
  padding-right: 200px;

  background-image: url(../images/contacts-form.png);
}
.contacts-title {
  margin-bottom: 40px;

  color: var(--secondary-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.address {
  margin-bottom: 70px;
}

.contacts-box {
  width: 270px;
  height: 160px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  display: flex;
  align-items: center;
}

.contacts-link,
.contacts-time {
  color: var(--middle-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-text);
}

.contacts-icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;

  fill: currentColor;
}

.contacts-text {
  margin-bottom: 20px;

  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/* ================END CONTACTS INFO================ */

/* =================== FOOTER======================= */
.footer > .container {
  display: flex;
}

.footer-copyright {
  padding-top: 56px;
  padding-bottom: 56px;

  color: var(--middle-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.footer-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.footer-link {
  padding-top: 56px;
  padding-bottom: 56px;

  color: var(--dark-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  transition: color 250ms linear;
}
/* ===================END FOOTER===================== */
