.about-list {
  display: flex;
}

.about-list__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-box {
  width: 500px;
  margin-left: 64px;
}

.about-description {
  margin-bottom: 40px;

  color: var(--main-text-color);

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
