.advantages-left-box {
  margin-right: 130px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.advantages-list__item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 133px;

  background-color: var(--masters-bgc);

  &:nth-child(2n + 1) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.numbers-box {
  width: 122px;
  height: 93px;
}
.numbers-box__number {
  color: var(--dark-text-color);

  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}

.numbers-box__description {
  color: var(--dark-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}
