.advantages > .container {
  display: flex;
}

.advantages-left-box {
  margin-right: 130px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.advantages-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 133px;

  background-color: var(--masters-bgc);
}

.advantages-item:nth-child(2n + 1) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.number {
  width: 122px;
  height: 93px;
}
.advantages-number {
  color: var(--dark-text-color);

  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}

.advantages-text {
  color: var(--dark-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.advantages-title {
  margin-bottom: 20px;

  color: var(--dark-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}

.advantages-subtitle {
  color: var(--main-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
