.contacts-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  background-color: var(--contacts-bgc);
}

.contacts-form__box {
  display: flex;
  margin-bottom: 44px;
}

.contacts-form__input {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  background-color: transparent;
  color: var(--secondary-text-color);

  cursor: pointer;

  &:hover {
    border-bottom: 1px solid var(--secondary-text-color);
  }

  &_name {
    width: 270px;
  }

  &_tel {
    width: 260px;
  }
}

.contacts-form__label {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);

  .contacts-form__input:hover + & {
    color: var(--secondary-text-color);
  }

  .contacts-form__input:focus + & {
    transform: translateY(-100%);
  }

  .contacts-form-input:not(:placeholder-shown) + & {
    transform: translateY(-100%);
  }
}

.contacts-form__tel {
  position: relative;
  display: flex;
  align-items: center;
}

.contacts-form__name {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.contacts-form__message {
  position: relative;
  display: flex;
  align-items: center;
  display: flex;
  margin-bottom: 44px;
}

.contacts-form__textarea {
  width: 560px;
  height: 76px;
  resize: none;
}
