.contacts-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  background-color: var(--contacts-bgc);
}

.contacts-form > .container {
  display: flex;
}

.contacts-form-title {
  margin-bottom: 44px;

  color: var(--secondary-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.contacts-form-box,
.contacts-form-box-massage {
  display: flex;
  margin-bottom: 44px;
}

.contacts-form-box-name,
.contacts-form-box-tel,
.contacts-form-box-massage {
  position: relative;
  display: flex;
  align-items: center;
}

.contacts-form-box-name {
  margin-right: 30px;
}

.contacts-form-input-name {
  width: 270px;
}
.contacts-form-input-tel {
  width: 260px;
}

.contacts-form-input {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  background-color: transparent;
  color: var(--secondary-text-color);

  cursor: pointer;
}

.contacts-form-input:hover + .contacts-form-label {
  color: var(--secondary-text-color);
}
.contacts-form-input:focus + .contacts-form-label {
  transform: translateY(-100%);
}

.contacts-form-input:hover {
  border-bottom: 1px solid var(--secondary-text-color);
}

.contacts-form-input:not(:placeholder-shown) + .contacts-form-label {
  transform: translateY(-100%);
}

.contacts-form-label {
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: rgba(157, 164, 189, 0.4);
}

.contacts-form-textarea {
  width: 560px;
  height: 76px;
  resize: none;
}

.contact-btn {
  border: 1px solid var(--accent-text);
  border-radius: 25px;
  padding: 12px 28px;

  color: var(--secondary-text-color);
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  transition: background-color 250ms linear;
}

.contact-btn:focus,
.contact-btn:hover {
  background-color: var(--accent-text);
}
