.contacts-right-side {
  margin-left: auto;
  padding-left: 100px;
  padding-right: 200px;

  background-image: url(../images/contacts-form.png);
}

.address {
  margin-bottom: 70px;
}

.contacts-box {
  width: 270px;
  height: 160px;
}

.contacts-list__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: var(--accent-text);
  }
}

.contacts-list__link,
.contacts-list__time {
  color: var(--middle-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-list__icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;

  fill: currentColor;
}

.contacts-list__text {
  margin-bottom: 20px;

  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
