.footer > .container {
  display: flex;
}

.footer-copyright {
  padding-top: 56px;
  padding-bottom: 56px;

  color: var(--middle-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
