.header {
  width: 100%;
}

.header-box {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;
  margin: 0 auto;
  max-width: 480px;
  padding: 0 31px;

  @media screen and(min-width:768px) {
    max-width: 768px;
    padding: 0 39px;

    display: flex;
  }

  @media screen and (max-width: 1279px) {
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 55px;

    left: 50%;
    transform: translateX(-50%);
  }
}

.navigation {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-right: 33px;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 275px;
  }
}

.logo {
  @media screen and (max-width: 767px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    // margin-right: 64px;
    margin-right: 59px;
    margin-left: 11px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 10px;
    margin-right: 71px;
  }
}

.logo__icon {
  fill: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
    fill: var(--dark-text-color);
  }
}

.header-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;

    margin-top: 30px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 0;
  }
}

.header-list__item {
  @media screen and (max-width: 1279px) {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.header-list__link {
  // padding: 52px 0;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--secondary-text-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-text);
  }
}

.header-contacts-box {
  @include flex-center;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-top: 40px;
  }
}

.header-tel {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;

    padding: 52px 0;

    color: var(--secondary-text-color);

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    transition: color 250ms linear;

    &:hover,
    &:focus {
      color: var(--accent-text);
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    position: absolute;
    top: 100px;
    // right: 58px;
    padding: 10px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: auto;
    margin-right: 40px;
  }
}
