.masters {
  background-color: var(--masters-bgc);
  max-width: 1280px;
  margin: 0 auto;
}

.masters-list {
  display: flex;
}

.masters-list__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.masters-box {
  padding-top: 30px;
}
.masters-box__name {
  margin-bottom: 8px;

  color: var(--dark-text-color);

  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}

.masters-box__job {
  margin-bottom: 30px;

  color: var(--accent-text);

  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}
