.masters {
  background-color: var(--masters-bgc);
  max-width: 1280px;
  margin: 0 auto;
}

.masters-title {
  margin-bottom: 44px;

  color: var(--dark-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.masters-list {
  display: flex;
}

.masters-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.masters-item:nth-child(3n) {
  margin-right: 0;
}

.masters-box {
  padding-top: 30px;
}
.masters-name {
  margin-bottom: 8px;

  color: var(--dark-text-color);

  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
}

.masters-job {
  margin-bottom: 30px;

  color: var(--accent-text);

  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
}

.masters-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.masters-item-icon:not(:last-child) {
  margin-right: 10px;
}

.masters-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  fill: var(--dark-text-color);
  background-color: var(--secondary-text-color);
  border-radius: 50%;

  transition: fill 250ms linear;
}

.masters-link-icon:hover,
.masters-link-icon:focus {
  fill: var(--accent-text);
}

.masters-icon {
  width: 20px;
  height: 20px;
}
