.price {
  background-color: var(--price-bgc);
  background-image: url(../images/price.png);
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

.price-title {
  margin-bottom: 44px;

  color: var(--secondary-text-color);

  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.price-box {
  display: flex;

  margin-bottom: 50px;
}

/* .price-list-left {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list-right {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
} */

.price-list-left:nth-child(2n + 1) {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list-right:nth-child(2n) {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.price-list-left,
.price-list-right {
  width: 585px;
  height: 240px;
  padding: 30px 40px;

  color: var(--middle-text-color);

  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.price-item-left,
.price-item-right {
  display: flex;
  justify-content: space-between;
}

.price-item-left:not(:last-child),
.price-item-right:not(:last-child) {
  margin-bottom: 20px;
}

/* .price-name:after {
  display: inline-block;
  content: '';
  width: 60px;
  height: 1px;
  margin-left: 40px;

  background-color: rgba(157, 164, 189, 0.12);
} */
.price-btn {
  text-align: center;
}
