.price {
  background-color: var(--price-bgc);
  background-image: url(../images/price.png);
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
}

.price-box {
  display: flex;

  margin-bottom: 50px;
}

/* .price-list-left {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.price-list-right {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
} */

.price-list {
  width: 585px;
  height: 240px;
  padding: 30px 40px;

  color: var(--middle-text-color);

  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.price-list-left {
  &:nth-child(2n + 1) {
    background-image: linear-gradient(
      180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2) 100%
    );
  }
}

.price-list-right {
  &:nth-child(2n) {
    background-image: linear-gradient(
      180deg,
      #090b13 0%,
      rgba(9, 11, 19, 0.2) 100%
    );
  }
}

.price-list__item {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
