.main-btn {
  padding: 12px 20px;
  min-width: 163px;

  border-radius: 25px;
  border: 1px solid var(--accent-text);

  color: var(--secondary-text-color);
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--accent-text);
    border: 1px solid var(--accent-text);
  }

  &_padding {
    padding: 12px 38px;

    @media screen and (max-width: 767px) {
      display: flex;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.hero-btn {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 10px;
  }
}

// кнопка price
.main-btn_flex {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.btn-send {
  color: var(--dark-text-color);

  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
  }
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;

  @include flex-center;

  cursor: pointer;
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  color: var(--dark-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-text);
  }

  // &__modal {
  //   top: 8px;
  //   right: 8px;
  //   border-radius: 50%;
  //   border: 1px solid rgba(0, 0, 0, 0.1);
  // }

  &__mobile {
    top: 59px;
    right: 41px;
    border: none;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: var(--accent-text);
    }
  }
}

/* .close-btn-icon {
  fill: var(--logo-text-color);
} */
