.title {
  margin-bottom: 33px;
  @include font(700, 42px, 49px, 0.05em);
  font-family: var(--secondary-font);

  color: var(--secondary-text-color);

  &_margin {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 44px;
  }
}

.title-about {
  margin-bottom: 20px;

  @include font(700, 28px, 33px, 0.05em);
  font-family: var(--secondary-font);

  color: var(--dark-text-color);

  @media screen and (min-width: 1200px) {
    @include font(700, 42px, 49px, 0.05em);
  }
}

.title-advantages {
  @extend .title;
  margin-bottom: 20px;

  color: var(--dark-text-color);
}

.title-masters {
  @extend .title;
  margin-bottom: 44px;

  color: var(--dark-text-color);
}
